services:
  - type: web
    name: kasparro-etl
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: kasparro-db
          property: connectionString
      - key: COINPAPRIKA_API_KEY
        sync: false
      - key: COINGECKO_API_KEY
        sync: false
      - key: ETL_INTERVAL_SECONDS
        value: 300
      - key: LOG_LEVEL
        value: INFO

databases:
  - name: kasparro-db
    plan: free

